div.section.hero {
  color:white
}

.navbar ul {
  margin:0;
  margin-top:5px;
  padding:0;
}

.navbar-list.right {
  float:right;
}


#top-header .twelfe.columns {
  background-color:rgba(0,0,0,0.3);
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  text-align:center;
}

#top-header h1 {
  font-size: 3rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}

#top-header .documentation-header h1 {
  margin-bottom:0;
}

.main-content h2 {
  font-size: 3rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
  margin-bottom:5px;
  margin-top:10px;
}

.main-content h3 {
  font-size:2rem;
  margin-bottom:5px;
}

.main-content .row {
  margin-bottom:20px;
}

.navbar ul, .navbar li {
  display:inline-block;
}

.navbar li {
  padding:5px;
  margin-bottom:5px;
  border-bottom:2px solid white
}

.navbar li:hover, .navbar li.active {
  border-bottom:2px solid #80D8FF
}

.navbar a {
  color:black;
  text-decoration:none;
}

.download-button {
  background-color:#78909C;
  border:none;
  color:white;
}

.download-button:hover {
  color:white;
}

.main-content-doc {
  padding-left:10px;
  padding-right:10px;
}

@media (min-width: 750px) { 
  .main-content-description {
    max-width:60%;
    margin:auto;
    text-align:center;
  }
}

.app-img {
  background-color:#78909C;
}
